<html>

<div class="main">
  <h1>My To-Do List</h1>
  <form [formGroup]="form">
    <input type="text" placeholder="new task" name="task" formControlName="description">
    <button type="submit" (click)="createTask()"><strong>ADD</strong></button>
  </form>
  <div class="tasksBoard">
    <ng-container *ngFor="let item of tasks">
      <li>
        <span class="delete" (click)="deleteTask(item.id)">×</span>
        <input type="checkbox" [ngModel]="verifyState(item.state)" (change)="updateState(item)">
        <label [ngClass]="{ 'complete': verifyState(item.state) }">{{item.description}}</label>
        <button class="edit" (click)="editTask(item)">Edit</button>
      </li>
    </ng-container>
    <a id="clear" (click)="deleteAll(tasks)">Clear</a>
    <div class="editContainer" *ngIf="isEditing" [formGroup]="editingForm">
      <input id="editInput" type="text" name="description" formControlName="description" [(ngModel)]="editingTask.description">
      <button id="editButton" type="submit" (click)="updateDescription(editingTask)">Done</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="app.js"></script>

</html>
