<html>

<div class="main">
  <h1>My To-Do List</h1>
  <form class="" action="index.html" method="post">
    <input type="text" placeholder="new task" name="task">
    <button type="submit"><strong>ADD</strong></button>
  </form>
  <div class="tasksBoard">
    <ul>
      <li><span class="delete">×</span><input type="checkbox"><label>Vanilla JavaScript</label></li>
      <li><span class="delete">×</span><input type="checkbox"><label>Angular</label></li>
      <li><span class="delete">×</span><input type="checkbox"><label>React</label></li>
      <li><span class="delete">×</span><input type="checkbox"><label>Vue</label></li>
    </ul>
    <a id="clear">Clear</a>
  </div>
</div>
<script type="text/javascript" src="app.js"></script>

</html>