.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.finish-button {
  color: green;
}

.edit-button {
  color: black;
}

.delete-button {
  color: red;
}

.done {
  text-decoration: line-through;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: blue;
  text-align: center;
}

.buttons {
  text-align: center;
  margin: 1%;
}

table {
  width: 100%;
}

#tasks-header {
  width: 70%;
}

th{
  color: blue;
}

button{
  margin: 0 5px;
}

td{
  overflow: -moz-hidden-unscrollable;;
  max-width: 315px;
}